@import "tailwindcss";

/* globals.css */
:root {
  --primary-color: #282970;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

body, #root {
  width: 100%;
  display: block;
}
